PTM_PCINFO/PTM_PCINFO/bin/Debug/OpenHardwareMonitorLib.dll
*.suo
PTM_PCINFO/PTM_PCINFO/bin/Debug/PTM_PCINFO.exe
*.config
PTM_PCINFO/PTM_PCINFO/bin/Debug/PTM_PCINFO.pdb
*.exe
PTM_PCINFO/PTM_PCINFO/bin/Debug/PTM_PCINFO.vshost.exe.manifest
*.txt
PTM_PCINFO/PTM_PCINFO/obj/Debug/PTM_PCINFO.csprojResolveAssemblyReference.cache
*.cache
PTM_PCINFO/PTM_PCINFO/obj/Debug/PTM_PCINFO.pdb
*.cs